@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(45deg,#0F2027 , #434343 ,#000000 ,#414345,#141E30);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
  
@keyframes color {
  0%{
    background-position: 0% 50%;
      }
      50%{
        background-position: 100% 50%;
      }
  100%{
    background-position: 0% 50%;
  }
}